{{> navegacion}}
<main class="container">
    <h1 class="text-center mt-5 text-primary">Titulo De la Noticia</h1>
    <img src="/img/block1.jpg" alt="" class="w-100 mb-5 mt-2">
    <div style="width: 80%;" class="mx-auto">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga itaque placeat voluptates, deserunt unde
            iusto,
            architecto repudiandae modi optio error aliquam magni nemo, libero ea possimus? Sint eos porro adipisci.
            Recusandae necessitatibus ipsam nesciunt veritatis repellendus tempore odio fuga vero iusto sunt. Aliquid
            recusandae modi veniam numquam saepe quisquam molestias, corporis veritatis expedita neque repudiandae
            fugit?
            Cupiditate quia quam optio!
            Aut impedit obcaecati consequuntur amet maxime facilis, recusandae enim vero neque laudantium id, sed nihil
            modi
            nam facere incidunt nisi pariatur laboriosam tempore accusamus. Perspiciatis fuga repellat voluptatibus ipsa
            vitae!
            Veritatis perspiciatis esse consectetur cupiditate doloremque dignissimos unde molestias repudiandae iusto
            voluptatibus? Asperiores labore consequuntur voluptatem deserunt totam recusandae id facere enim assumenda
            nemo.
            Sapiente, tenetur obcaecati. Quidem, delectus consectetur!
            Sequi accusantium recusandae itaque asperiores ratione optio explicabo odit repellendus facilis tempora
            quaerat
            ipsum cupiditate nobis voluptatum, consequuntur eaque vero suscipit tenetur. Exercitationem, ipsam
            asperiores.
            Error nulla suscipit ea maxime.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga itaque placeat voluptates, deserunt unde
            iusto,
            architecto repudiandae modi optio error aliquam magni nemo, libero ea possimus? Sint eos porro adipisci.
            Recusandae necessitatibus ipsam nesciunt veritatis repellendus tempore odio fuga vero iusto sunt. Aliquid
            recusandae modi veniam numquam saepe quisquam molestias, corporis veritatis expedita neque repudiandae
            fugit?
            Cupiditate quia quam optio!
            Aut impedit obcaecati consequuntur amet maxime facilis, recusandae enim vero neque laudantium id, sed nihil
            modi
            nam facere incidunt nisi pariatur laboriosam tempore accusamus. Perspiciatis fuga repellat voluptatibus ipsa
            vitae!
            Veritatis perspiciatis esse consectetur cupiditate doloremque dignissimos unde molestias repudiandae iusto
            voluptatibus? Asperiores labore consequuntur voluptatem deserunt totam recusandae id facere enim assumenda
            nemo.
            Sapiente, tenetur obcaecati. Quidem, delectus consectetur!
            Sequi accusantium recusandae itaque asperiores ratione optio explicabo odit repellendus facilis tempora
            quaerat
            ipsum cupiditate nobis voluptatum, consequuntur eaque vero suscipit tenetur. Exercitationem, ipsam
            asperiores.
            Error nulla suscipit ea maxime.</p>
    </div>
</main>

{{> footer}}