{{> navegacion}}

<main>
    <div class="container">
        <h2 class="categorias my-3">Categoria Selecciona Por el Usuario</h2>
        {{> card-videojuegos}}
        {{> card-videojuegos}}
        {{> card-videojuegos}}
    </div>
</main>
{{> footer}}