{{> navegacion}}

<main class="container">
    <h1 class="my-4 text-center">Call of Duty: Black Ops Cold War</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="/img/Videojuegos/bps.jpg" alt="" class="img-fluid img-thumbnail shadow">
            <p class="h1 text-success text-center p-4">90,000 $</p>
            <a href="/user/comprar" class="btn btn-success w-100 text-uppercase fw-bold"> Comprar Juego</a>


        </div>
        <div class="col-md-6 p-4 d-flex flex-column">
            <p>Call of Duty: Black Ops Cold War es un videojuego de disparos en primera persona desarrollado por
                Treyarch y
                Raven Software y publicado por Activision. Es la quinta entrega y a la vez es un reboot de la serie
                Black
                Ops y el decimoséptimo Call of Duty. Cronológicamente El juego está ambientado después de los
                Raven Software y publicado por Activision. Es la quinta entrega y a la vez es un reboot de la serie
                Black

            </p>
            <p class="display-3 fw-bold text-center">PEGI:17</p>
            <h3 class="text-primary">Plataforma Disponibles</h3>
            <div class="d-flex justify-content-between">
                <div>
                    <ul class="consolas list-group pb-2">
                        <li class="">Play Station 5</li>
                        <li class="">Xbox One</li>
                        <li class="">Microsfot Windows</li>
                    </ul>
                    <p><strong> Empresa desarrolladora:</strong> EA </p>
                </div>
                <div>
                    <p class="">Fecha De Lanzamiento: <br>
                        <strong>25 de Marzo del 2021</strong>
                    </p>

                    <p>Categoria:<strong>Multijugador</strong></p>
                </div>
            </div>

        </div>
    </div>
</main>