{{> navegacion}}

<main class="container">
    <h1 class="categorias mb-2 mt-4">Noticias De Los Videojuegos</h1>
    {{> noticias-videojuegos}}
    {{> noticias-videojuegos}}
    {{> noticias-videojuegos}}
</main>

{{> footer}}