<div class="row mb-3d">

    <div class="col-md-4 col-12">
        <div class="card shadow">
            <img src="/img/Videojuegos/bps.jpg" class="card-img-top" alt="...">
            <div class="card-body ">
                <h5 class="card-title">Nombre Del Videojuego</h5>
                <p class="card-text">Descripcion del video juego</p>
                <a href="/home/descripcion" class="btn btn-primary d-block text-uppercase fw-bold">Descripcion</a>
                <a href="/user/comprar" class="btn btn-success mt-1 d-block text-uppercase fw-bold">Comprar</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card shadow">
            <img src="/img/Videojuegos/farcry.jpg" class="card-img-top" alt="...">
            <div class="card-body ">
                <h5 class="card-title">Nombre Del Videojuego</h5>
                <p class="card-text">Descripcion del video juego</p>
                <a href="/home/descripcion" class="btn btn-primary d-block text-uppercase fw-bold">Descripcion</a>
                <a href="/user/comprar" class="btn btn-success mt-1 d-block text-uppercase fw-bold">Comprar</a>

            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card shadow">
            <img src="/img/Videojuegos/call-duty.jpg" class="card-img-top" alt="...">
            <div class="card-body ">
                <h5 class="card-title">Nombre Del Videojuego</h5>
                <p class="card-text">Descripcion del video juego</p>
                <a href="/home/descripcion" class="btn btn-primary d-block text-uppercase fw-bold">Descripcion</a>
                <a href="/user/comprar" class="btn btn-success mt-1 d-block text-uppercase fw-bold">Comprar</a>
            </div>
        </div>
    </div>
</div>