<section class="contenedor-correo mt-5 d-flex flex-column align-items-center justify-content-center">
    <h3 class="text-center text-white">Entarate de las Ultimas Noticias De Los Videojuegos</h3>
    <form action="#" method="post" class="correo d-flex">
        <input type="email" name="" id="" class="form-control me-2 text-white fs-5" placeholder="Ingresa Tu Correo">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

</section>