<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-dark bg-primary">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="index3.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Contact</a>
        </li>
    </ul>

    <!-- SEARCH FORM -->

</nav>
{{!-- Aside --}}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/home/index" class="brand-link bg-primary">
        <img src="/img/admin-img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Onlinne</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/img/admin-img/avatar.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Juan Pablo Macias</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Panel VideoJuegos
                        </p>
                    </a>
                    <ul class="nav nav-treeview bg-primary">
                        <li class="nav-item">
                            <a href="/admin/dasboard" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Ver Videojuegos
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/ingresar-juego" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Ingresar VideoJuego
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Panel Consolas
                        </p>
                    </a>
                    <ul class="nav nav-treeview bg-primary">
                        <li class="nav-item">
                            <a href="/admin/consola" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    ver Consola
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Panel Empresa De.
                        </p>
                    </a>
                    <ul class="nav nav-treeview bg-primary">
                        <li class="nav-item">
                            <a href="/admin/empresa" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    ver Empresas
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Panel De Categorias
                        </p>
                    </a>
                    <ul class="nav nav-treeview bg-primary">
                        <li class="nav-item">
                            <a href="/admin/categoria" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Ver Categoria
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Panel de Edades
                        </p>
                    </a>
                    <ul class="nav nav-treeview bg-primary">
                        <li class="nav-item">
                            <a href="/admin/edad" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Ver Edades
                                </p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Panel de Noticias
                        </p>
                    </a>
                    <ul class="nav nav-treeview bg-primary">
                        <li class="nav-item">
                            <a href="/admin/noticia" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Ver Noticias
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/ingresar-noticia" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Ingresar Noticia
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Panel de Administradores
                        </p>
                    </a>
                    <ul class="nav nav-treeview bg-primary">
                        <li class="nav-item">
                            <a href="/admin/administrador" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Ver Administradoes
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/ingresar-admin" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Ingresar Administrador
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Panel de Ventas
                        </p>
                    </a>
                    <ul class="nav nav-treeview bg-primary">
                        <li class="nav-item">
                            <a href="/admin/ventas" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Ver Ventas
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Panel de Usuario
                        </p>
                    </a>
                    <ul class="nav nav-treeview bg-primary">
                        <li class="nav-item">
                            <a href="/admin/users" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Ver Usuarios
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
{{!-- /Aside --}}