<div class="row shadow bg-light mt-3 border border-primary border-3 rounded-pill">
    <div class="col-md-4 boder  d-flex align-items-center">
        <img src="/img/block1.jpg" alt="" class="w-100 img-thumbnail m-2 rounded-pill">
    </div>
    <div class="col-md-8 d-flex flex-column justify-content-center">
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nam doloribus voluptates libero quidem eum
            aliquid id neque dolorum dignissimos.
            sit amet consectetur adipisicing elit. Quas nam doloribus voluptates libero quidem eum sit amet
            consectetur adipisicing elit. Quas nam doloribus voluptates libero quidem eum
        </p>
        <a href="/home/block" class="btn btn-primary align-self-center mb-1" style="width: 300px;">Leer</a>
    </div>
</div>
<div class="row shadow bg-light mt-3 border border-primary border-3 rounded-pill">
    <div class="col-md-4 boder d-flex align-items-center">
        <img src="/img/block2.jpg" alt="" class="w-100 img-thumbnail m-2 rounded-pill">
    </div>
    <div class="col-md-8 d-flex flex-column justify-content-center">
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nam doloribus voluptates libero quidem eum
            aliquid id neque dolorum dignissimos.
            sit amet consectetur adipisicing elit. Quas nam doloribus voluptates libero quidem eum sit amet
            consectetur adipisicing elit. Quas nam doloribus voluptates libero quidem eum
        </p>
        <a href="/home/block" class="btn btn-primary align-self-center mb-1" style="width: 300px;">Leer</a>
    </div>
</div>