<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {{> nav-aside}}
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1 class="m-0 text-dark">Lista De Administradores</h1>
                            <span class="text-muted">Aqui Puedes ver todos los administradores registrados</span>
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-primary card-outline">
                                <div class="card-body">
                                    <div class="card-title p-2 b-2 w-100">Tabla De Administradores</div>

                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>

                                                <th>Nombre</th>
                                                <th>Correo</th>
                                                <th>Fecha de Registro</th>
                                                <th>Acciones</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Admin 1</td>
                                                <td>correo@correo</td>
                                                <td>2021-03-03</td>
                                                <td>
                                                    <a href="" class="btn btn-danger me-2">Eliminar</a>
                                                    <a href="" class="btn btn-info">Editar</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Admin 2</td>
                                                <td>correo2@correo</td>
                                                <td>2021-03-03</td>
                                                <td>
                                                    <a href="" class="btn btn-danger me-2">Eliminar</a>
                                                    <a href="" class="btn btn-info">Editar</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Admin 3</td>
                                                <td>correo3@correo</td>
                                                <td>2021-03-03</td>
                                                <td>
                                                    <a href="" class="btn btn-danger me-2">Eliminar</a>
                                                    <a href="" class="btn btn-info">Editar</a>
                                                </td>
                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>

                                                <th>Nombre</th>
                                                <th>Correo
                                                <th>Fecha de Registro</th>
                                                <th>Acciones</th>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>