<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {{> nav-aside}}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1 class="m-0 text-dark">Video Juego Disponibles</h1>
                            <span class="text-muted">Aca Puede ver los juegos publicados en el sitio web</span>
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-primary card-outline">
                                <div class="card-body">
                                    <h5 class="card-title w-100">Tabla de Videojuegos</h5>

                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nombre Del Videojuego</th>
                                                <th>Descripcion</th>
                                                <th>Categoria</th>
                                                <th>Edad</th>
                                                <th>Empresa Desarrolladora</th>
                                                <th>Fecha De Lanzamineto</th>
                                                <th>Precio</th>
                                                <th>Imagen</th>
                                                <th>Consola</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Farc Cry 5</td>
                                                <td>
                                                    Far Cry 5 es un videojuego de acción-aventura en primera persona
                                                    desarrollado por Ubisoft Montreal y publicado por Ubisoft para
                                                    PlayStation 4, Xbox One, Stadia y Microsoft Windows. Es la undécima
                                                    entrega de la serie Far Cry. Su lanzamiento se produjo el 27 de
                                                    marzo de 2018.​
                                                </td>
                                                <td>
                                                    Mundo Abierto
                                                </td>
                                                <td> PEGI 17</td>

                                                <td>Ubisoft</td>
                                                <td>25 de Marzo del 2001</td>
                                                <td>
                                                    80,000
                                                </td>
                                                <td>
                                                    <img src="/img/Videojuegos/farcry.jpg" alt="" width="300px">
                                                </td>
                                                <td>
                                                    PlayStation 4
                                                    Xbox One
                                                    Microsoft Windows
                                                </td>

                                                <td>
                                                    <a href="#" class="btn btn-danger me-2">Eliminar</a>
                                                    <a href="#" class="btn btn-info">Editar</a>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td>Call of Duty: Black Ops 3</td>
                                                <td>
                                                    Call of Duty: Black Ops III es un videojuego de disparos en primera
                                                    persona desarrollado por Treyarch, Beenox y Mercenary Technology,
                                                    publicado por Activision.​ Es la 12° entrega de la saga Call of Duty
                                                    y la tercera entrega de la saga Black Ops. ​​ Fue lanzado el 6 de
                                                </td>
                                                <td>
                                                    Campaña
                                                </td>
                                                <td> PEGI 17</td>


                                                <td>EA</td>
                                                <td>25 de Marzo del 2001</td>
                                                <td>
                                                    90,000
                                                </td>
                                                <td>
                                                    <img src="/img/Videojuegos/call-duty.jpg" alt="" width="300px">
                                                </td>
                                                <td>
                                                    PlayStation 4
                                                    Xbox One
                                                    PlayStation 3
                                                    Xbox 360
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-danger me-2">Eliminar</a>
                                                    <a href="#" class="btn btn-info">Editar</a>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>Call of Duty: Black Ops Cold War</td>
                                                <td>
                                                    es un videojuego de disparos en
                                                    primera persona desarrollado por Treyarch y Raven Software y
                                                    publicado por Activision. Es la quinta entrega y a la vez es un
                                                    reboot de la serie Black Ops y el decimoséptimo Call of Duty

                                                </td>
                                                <td>
                                                    multijugador multijugador en línea
                                                </td>
                                                <td> PEGI 17</td>
                                                <td>Activision</td>
                                                <td>25 de Marzo del 2001</td>
                                                <td>
                                                    80,000
                                                </td>
                                                <td>
                                                    <img src="/img/Videojuegos/bps.jpg" alt="" width="300px">
                                                </td>
                                                <td>
                                                    PlayStation 4 Xbox One Microsoft Windows
                                                </td>

                                                <td>
                                                    <a href="#" class="btn btn-danger me-2">Eliminar</a>
                                                    <a href="#" class="btn btn-info">Editar</a>
                                                </td>

                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Nombre Del Videojuego</th>
                                                <th>Descripcion</th>
                                                <th>Categoria</th>
                                                <th>Edad</th>
                                                <th>Empresa Desarrolladora</th>
                                                <th>Fecha De Lanzamineto</th>
                                                <th>Precio</th>
                                                <th>Imagen</th>
                                                <th>Consola</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </tfoot>
                                    </table>


                                </div>
                            </div>
                        </div>
                        <!-- /.col-md-6 -->

                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>