<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {{> nav-aside}}
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1 class="m-0 text-dark">Listado de Ventas</h1>
                            <span class="text-muted">Aqui Puedes Consultar las ventas hasta la fecha de los
                                Videojuegos</span>
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-primary card-outline">
                                <div class="card-body">
                                    <div class="card-title p-2 b-2 w-100">Tabla De Ventas</div>

                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>

                                                <th>Nombre</th>
                                                <th>Videojuego</th>
                                                <th>Consola</th>
                                                <th>Cantidad</th>
                                                <th>Valor</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>usuario 1</td>
                                                <td>Farcry 5</td>
                                                <td>PlayStation 4</td>
                                                <td>1</td>
                                                <td>56.000</td>

                                            </tr>
                                            <tr>
                                                <td>usuario 2</td>
                                                <td>Halo 5</td>
                                                <td>Xbox One</td>
                                                <td>1</td>
                                                <td>36.000</td>
                                            </tr>
                                            <tr>
                                                <td>usuario 3</td>
                                                <td>Gta V</td>
                                                <td>Xbox One</td>
                                                <td>1</td>
                                                <td>76.000</td>
                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Videojuego</th>
                                                <th>Consola</th>
                                                <th>Cantidad</th>
                                                <th>Valor</th>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>