<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {{> nav-aside}}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1 class="m-0 text-dark">Administrador De Noticias</h1>
                            <span class="text-muted">Acas vas poder ver las noticias publicad en sitio web</span>
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-primary card-outline">
                                <div class="card-body">
                                    <h5 class="card-title w-100">Tabla de Videojuegos</h5>
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Titulo</th>
                                                <th>Descripcion</th>
                                                <th>Publicado</th>
                                                <th>Imagen</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Los Personajes Mas Famosos de Los Videojuegos.</td>
                                                <td>
                                                    consectetur adipiscing elit. Pellentesque non neque euismod, dictum
                                                    justo vel, vestibulum sapien. Praesent in augue placerat, fermentum
                                                    leo in, iaculis est. Nullam luctus auctor justo, rutrum consectetur
                                                    nisl. Donec placerat elit a erat accumsan pharetra. Integer in mi
                                                    ante. Praesent in diam pulvinar, vulputate leo convallis, placerat
                                                    erat. Suspendisse potenti. Mauris in elementum nibh, ut convallis
                                                </td>
                                                <td>
                                                    2021-02-04
                                                </td>
                                                <td>
                                                    <img src="/img/block2.jpg" width="700px" alt="">
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-danger">Eliminar</a>
                                                    <a href="#" class="btn btn-info">Editar</a>
                                                    <a href="#" class="btn btn-success">Leer</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Las Ultimas Novedades De Nitendo.</td>
                                                <td>
                                                    consectetur adipiscing elit. Pellentesque non neque euismod, dictum
                                                    justo vel, vestibulum sapien. Praesent in augue placerat, fermentum
                                                    leo in, iaculis est. Nullam luctus auctor justo, rutrum consectetur
                                                    nisl. Donec placerat elit a erat accumsan pharetra. Integer in mi
                                                    ante. Praesent in diam pulvinar, vulputate leo convallis, placerat
                                                    erat. Suspendisse potenti. Mauris in elementum nibh, ut convallis
                                                    turpis. Curabitur dictum faucibus fringilla. Proin ullamcorper
                                                </td>
                                                <td>
                                                    2021-02-04
                                                </td>

                                                <td>
                                                    <img src="/img/block1.jpg" width="700px" alt="">
                                                </td>

                                                <td>
                                                    <a href="#" class="btn btn-danger">Eliminar</a>
                                                    <a href="#" class="btn btn-info">Editar</a>
                                                    <a href="#" class="btn btn-success">Leer</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Titulo</th>
                                                <th>Descripcion</th>
                                                <th>Publicado</th>
                                                <th>Imagen</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>