<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {{> nav-aside}}
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1 class="m-0 text-dark">Listado De usuarios Registrados</h1>
                            <span class="text-muted">Aqui Puedes Consultar los usuarios registrados</span>
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-primary card-outline">
                                <div class="card-body">
                                    <div class="card-title p-2 b-2 w-100">Tabla De Usuarios</div>

                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>

                                                <th>Nombre</th>
                                                <th>Correo Electronico</th>
                                                <th>Contraseña</th>
                                                <th>Tarjeta De Credito</th>
                                                <th>Cvs</th>
                                                <th>Fecha de Vencimiento</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Usuario 1</td>
                                                <td>correo1@correo</td>
                                                <td>*****</td>
                                                <td>23345565</td>
                                                <td>123</td>
                                                <td>2025/12/31</td>

                                            </tr>
                                            <tr>
                                                <td>Usuario 2</td>
                                                <td>correo2@correo</td>
                                                <td>*****</td>
                                                <td>23345565</td>
                                                <td>123</td>
                                                <td>2025/12/31</td>
                                            </tr>
                                            <tr>
                                                <td>Usuario 3</td>
                                                <td>correo3@correo</td>
                                                <td>*****</td>
                                                <td>23345565</td>
                                                <td>123</td>
                                                <td>2025/12/31</td>
                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>


                                                <th>Nombre</th>
                                                <th>Correo Electronico</th>
                                                <th>Contraseña</th>
                                                <th>Tarjeta De Credito</th>
                                                <th>Cvs</th>
                                                <th>Fecha de Vencimiento</th>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>