<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        {{> nav-aside}}
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1 class="m-0 text-dark">Ingresar Admin</h1>
                            <span class="text-muted">Llena el formulario para ingresar un nuevo administrador</span>
                        </div><!-- /.col -->

                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-primary card-outline">
                                <div class="card-body">
                                    <h5 class="card-title w-100 mb-4">Complete el Formulario</h5>
                                    <form action="" method="">
                                        <div class="mb-3">
                                            <label for="nombre" class="form-label">Nombre</label>
                                            <input type="nombre" name="nombre" class="form-control" id="nombre"
                                                placeholder="Ingresa El Nombre Del Administrador">

                                        </div>

                                        <div class="mb-3">
                                            <label for="email" class="form-label">Correo Electronico</label>
                                            <input type="email" name="email" id="email" class="form-control"
                                                placeholder="Ingresa El Correo Electronico">
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label">Contrase単a</label>
                                            <input type="password" name="password" id="password" class="form-control"
                                                placeholder="Ingresa La contrase単a">
                                        </div>
                                        <div class="mb-3">
                                            <label for="confir" class="form-label">Confirma la Contrase単a</label>
                                            <input type="password" name="confir" id="confir" class="form-control"
                                                placeholder="Confirma la Contrase単a">
                                        </div>
                                        <input type="submit" class="btn btn-primary" value="Agregar Administrador">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>