{{> navegacion}}

<div class="container p-4 body-session">

    <div class="card shadow mx-auto login">
        <div class="card-header">
            <h1 class="text-center">Registrarse</h1>
        </div>
        <div class="card-body">
            <form action="" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="usuario" class="form-label">Nombre:</label>
                            <input type="text" name="usuario" id="usuario" class="form-control"
                                placeholder="Ingresa Tu Nombre">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electronico:</label>
                            <input type="email" name="email" id="email" class="form-control"
                                placeholder="Ingresa Tu Correo Electronico">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="contra" class="form-label">Cotrase単a:</label>
                            <input type="password" name="contra" id="contra" class="form-control"
                                placeholder="Ingresa Tu Contrase単a">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="confirmar" class="form-label">Confimar Cotrase単a:</label>
                            <input type="password" name="confirmar" id="confirmar" class="form-control"
                                placeholder="Confirma Tu Contrase単a">
                        </div>
                    </div>
                </div>
                <div class="d-grid">
                    <input type="submit" value="Enviar" class="btn btn-primary">
                </div>
            </form>
        </div>
        <div class="card-footer">
            <p class="text-center text-white text-capitalize fs-3 fw-bold">Tus Datos Son Protegidos</p>
        </div>
    </div>

</div>